mas temas de sql

In [2]:
import pandas as pd
import sqlite3 as sql 
from pym import tools as t

# 1. DISTINCT: se le aplica a una columna
# a. Valores unicos de esa columna
# b. Eliminar duplicados

# Selecciona TODAS las columnas de la tabla ventas
query = """
SELECT 
    --- Esto es un comentario en SQL
    * --- TODAS LAS COLUMNAS
FROM 
    ventas
"""
t.consultar_bbdd(query)

,Fecha,Producto,Clave,Cantidad,Precio,Total,Sucursal
0,2025-01-01,Cargadores,HUI-844,39,3954.10,154209.90,Milpa Alta
1,2025-01-01,Cuadernos,FOY-846,47,3444.24,161879.28,Santa Fé
2,2025-01-01,Papel,QTJ-739,10,506.73,5067.30,Centro
3,2025-01-01,Audífonos,UHM-612,26,6529.70,169772.20,Centro
4,2025-01-01,Borradores,EWV-583,31,7461.07,231293.17,Polanco
...,...,...,...,...,...,...,...
260249,2025-01-31,Libretas,BHL-911,30,454.89,13646.70,Milpa Alta
260250,2025-01-31,Baterías,WHS-186,6,3709.88,22259.28,Milpa Alta
260251,2025-01-31,Plumones,TKH-411,29,594.06,17227.74,Cuemanco
260252,2025-01-31,Mochilas,WEP-443,16,1128.27,18052.32,Coapa
260253,2025-01-31,Bolsas,QUA-542,15,4035.04,60525.60,Milpa Alta

In [3]:
# Order by solito, el ordenamiento es de manera ascendente
query = """
SELECT 
    DISTINCT Fecha
FROM 
    ventas
--- Sentencia de ordenamiento
ORDER BY
    Fecha DESC
--- limit n, te muestra las primeras n filas
LIMIT 5
"""
t.consultar_bbdd(query)

                 Fecha
0  2025-01-31 00:00:00
1           2025-01-31
2  2025-01-30 00:00:00
3           2025-01-30
4  2025-01-29 00:00:00

In [4]:
# Las 5 primeras ventas del 6 de enero en Polanco
# WHERE ---> filtros

# Seleccioname todas las columnas de la tabla ventas
# donde la sucursal sea Polando Y el dia sea el 6 de enero
#                               &
#                              and
# o ---> | ----> or
query = """
SELECT 
    Producto, 
    Cantidad,
    Total AS Total_Ventas
FROM 
    ventas
WHERE
    Sucursal = 'Polanco'
AND 
    Fecha = '2025-01-01'
LIMIT 5
"""
t.consultar_bbdd(query)

     Producto  Cantidad  Total_Ventas
0  Borradores        31     231293.17
1     Tablets        33      39628.71
2     Lápices        32      71732.16
3          Pc         2        202.82
4    Pinturas        10      59046.20

Jerarquía de instrucciones en SQL

SELECT
FROM
WHERE
ORDER BY
LIMIT 5
Funciones de agregación:

SUM
MIN/MAX
AVG
COUNT

In [5]:
# CAST() ---> te convierte una columna al tipo de dato que le indiques
# CAST(NOM_COL AS TIPO_DATO_NUEVO)
query = """
SELECT 
    CAST(SUM(Total) AS INTEGER) AS Total_Ventas_Enero_Global
FROM 
    ventas
"""
t.consultar_bbdd(query)

   Total_Ventas_Enero_Global
0                16607173200

Definir una función en Python
Subir a SQL

In [6]:
def separador_miles(numero):
    """
    Da formato a un número insertando separadores de miles.

    Parámetros:
    ----------
    numero : int o float
        El número al que se le desea aplicar el formato con separadores de miles.

    Retorna:
    -------
    str
        El número formateado como cadena con comas separando los miles.
    """
    return "{:,}".format(numero)

sep_miles = lambda numero: "{:,}".format(numero)

print(separador_miles(1000))
print(sep_miles(1000))

1,000
1,000

In [7]:
# Conectarse a la base de datos
con = sql.connect("ventas.db")
cursor = con.cursor()

# a. nombre de la funcion en SQL
# b. cuantos parametros tiene tu funcion
# c. pones la funcion de Python
con.create_function("separador_miles", 1, separador_miles)

query = """
SELECT 
    separador_miles(
        CAST(
            SUM(Total) 
        AS 
            INTEGER
        )
    ) AS Total_Ventas_Enero_Global
FROM 
    ventas
"""

# fetchone() ---> nos muestra solo un valor
consulta_01 = cursor.execute(query).fetchone()

# Guardamos cambios
con.commit()
# Cerramos la conexion
con.close()

consulta_01

('16,607,173,200',)

No puedes usar funciones creadas por ti mism@ con pandas, entonces debemos ver una alternativa

In [8]:
# Conectarse a la base de datos
con = sql.connect("ventas.db")
cursor = con.cursor()

# a. nombre de la funcion en SQL
# b. cuantos parametros tiene tu funcion
# c. pones la funcion de Python
con.create_function("separador_miles", 1, separador_miles)

query = """
SELECT 
    Producto, 
    Cantidad,
    Total AS Total_Ventas
FROM 
    ventas
WHERE
    Sucursal = 'Polanco'
AND 
    Fecha = '2025-01-06'
"""

# fetchone() ---> nos muestra solo un valor
# fetchall() ---> todas las filas disponibles
# fetchmany(n) ---> traeme los primeros n registros
consulta_02 = cursor.execute(query).fetchmany(5)

# Guardamos cambios
con.commit()
# Cerramos la conexion
con.close()

consulta_02

[('Pinceles', 35, 68520.9),
 ('Pc', 23, 123331.75),
 ('Tijeras', 41, 354926.34),
 ('Pegamento', 10, 1998.3),
 ('Cables', 17, 18936.81)]


##Resumen de códigos
WHERE: Realizar filtros. Va combinada usualmente con operadores lógicos (AND, OR).
ORDER BY: Realizar el ordenamiento de la tabla con base en una columna. Por defecto se ordena de manera ascendente. DESC, ordenas de manera descendente.
DISTINCT: elimina duplicados, te arroja los valores únicos de una columna.
LIMIT N: te muestra los primeros N registros
OFFSET: salto de página
LIMIT-OFFSET: paginación

In [10]:

query = """
SELECT 
    *
FROM 
    ventas
LIMIT 15
"""
t.consultar_bbdd(query)

         Fecha    Producto    Clave  Cantidad   Precio      Total    Sucursal
0   2025-01-01  Cargadores  HUI-844        39  3954.10  154209.90  Milpa Alta
1   2025-01-01   Cuadernos  FOY-846        47  3444.24  161879.28    Santa Fé
2   2025-01-01       Papel  QTJ-739        10   506.73    5067.30      Centro
3   2025-01-01   Audífonos  UHM-612        26  6529.70  169772.20      Centro
4   2025-01-01  Borradores  EWV-583        31  7461.07  231293.17     Polanco
5   2025-01-01   Pegamento  ECV-177        12  6431.01   77172.12          CU
6   2025-01-01      Bolsas  YSA-138        42   782.29   32856.18    Santa Fé
7   2025-01-01   Monitores  SME-278        38   307.89   11699.82  Milpa Alta
8   2025-01-01   Pegamento  FEJ-643        11  1356.22   14918.42  Xochimilco
9   2025-01-01    Teclados  VRF-593        26  2134.93   55508.18  Xochimilco
10  2025-01-01     Tablets  TXF-934        33  1200.87   39628.71     Polanco
11  2025-01-01   Pegamento  VIN-287        14   680.00    9520.00      Centro
12  2025-01-01  Sacapuntas  DMT-425        14  3434.53   48083.42    Narvarte
13  2025-01-01      Bolsas  NHZ-584        16   151.82    2429.12  Milpa Alta
14  2025-01-01       Cajas  WGC-148        22  2840.51   62491.22  Milpa Alta

In [9]:
query = """
SELECT 
    *
FROM 
    ventas
LIMIT 5
OFFSET 10
"""
t.consultar_bbdd(query)

        Fecha    Producto    Clave  Cantidad   Precio     Total    Sucursal
0  2025-01-01     Tablets  TXF-934        33  1200.87  39628.71     Polanco
1  2025-01-01   Pegamento  VIN-287        14   680.00   9520.00      Centro
2  2025-01-01  Sacapuntas  DMT-425        14  3434.53  48083.42    Narvarte
3  2025-01-01      Bolsas  NHZ-584        16   151.82   2429.12  Milpa Alta
4  2025-01-01       Cajas  WGC-148        22  2840.51  62491.22  Milpa Alta

In [10]:
import sqlite3 as sql
import pandas as pd

#Funcion para hacer consultas en SQL
def consulta(query):
  con = sql.connect('ventas.db')
  consulta = pd.read_sql(query, con)
  con.close()
  return consulta

In [23]:
a = """
SELECT
        *, SUM(Total) As Total_Ventas
FROM
      ventas
WHERE
     Total>1000
 GROUP BY 
      Fecha, Sucursal

 """
df= consulta(a)

In [ ]:
# Exploración de datos con pandas

In [24]:
# Primeros datos
df.head()

,Fecha,Producto,Clave,Cantidad,Precio,Total,Sucursal,Total_Ventas
0,2025-01-01,Pegamento,ECV-177,12,6431.01,77172.12,CU,50716357.98
1,2025-01-01,Papel,QTJ-739,10,506.73,5067.30,Centro,54499279.35
2,2025-01-01,Bolsas,KKN-175,33,3004.14,99136.62,Coapa,58486069.29
3,2025-01-01,Pinceles,YAK-759,15,218.84,3282.60,Cuemanco,56696965.20
4,2025-01-01,Cargadores,HUI-844,39,3954.10,154209.90,Milpa Alta,50163704.19

In [25]:
# Ultimos
df.tail()

,Fecha,Producto,Clave,Cantidad,Precio,Total,Sucursal,Total_Ventas
615,2025-01-31 00:00:00,Cartulinas,GDP-346,23,798.96,18376.08,Narvarte,7379019.39
616,2025-01-31 00:00:00,Cuadernos,UAO-653,18,3916.57,70498.26,Polanco,7972602.12
617,2025-01-31 00:00:00,Bolsas,APP-582,27,143.95,3886.65,Santa Fé,5233789.81
618,2025-01-31 00:00:00,Cuadernos,ZFD-627,40,186.89,7475.60,Xochimilco,6275314.85
619,2025-01-31 00:00:00,Pegamento,XCV-783,33,3429.27,113165.91,Zócalo,7059090.51

In [46]:
# Estadísticas basicas sobre columnas
df.describe()

         Cantidad       Precio          Total  Total_Ventas
count  620.000000   620.000000     620.000000  6.200000e+02
mean    26.467742  2648.027355   69494.669435  2.677731e+07
std     14.326132  2182.738464   76355.892159  2.075470e+07
min      1.000000    25.680000    1010.420000  4.260809e+06
25%     14.000000   790.707500   12404.170000  6.433584e+06
50%     28.000000  2086.025000   41532.585000  2.045416e+07
75%     39.000000  3970.357500  101463.057500  4.748177e+07
max     50.000000  9335.430000  404348.560000  6.286441e+07

In [29]:
!pip3 install 'pandas-profiling[notebook,html]'
#import pandas_profiling as pp

Collecting pandas-profiling[html,notebook]
  Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl.metadata (21 kB)
WARNING: pandas-profiling 3.2.0 does not provide the extra 'html'
Collecting joblib~=1.1.0 (from pandas-profiling[html,notebook])
  Downloading joblib-1.1.1-py2.py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: scipy>=1.4.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (1.15.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (2.2.3)
Requirement already satisfied: matplotlib>=3.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (3.10.1)
Collecting pydantic>=1.8.1 (from pandas-profiling[html,notebook])
  Downloading pydantic-2.11.5-py3-none-any.whl.metadata (67 kB)
Requirement already satisfied: PyYAML>=5.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (6.0.2)
Requirement already satisfied: jinja2>=2.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (3.1.6)
Collecting markupsafe~=2.1.1 (from pandas-profiling[html,notebook])
  Downloading MarkupSafe-2.1.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.0 kB)
Collecting visions==0.7.4 (from visions[type_image_path]==0.7.4->pandas-profiling[html,notebook])
  Downloading visions-0.7.4-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: numpy>=1.16.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (2.2.4)
Collecting htmlmin>=0.1.12 (from pandas-profiling[html,notebook])
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting missingno>=0.4.2 (from pandas-profiling[html,notebook])
  Downloading missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Collecting phik>=0.11.1 (from pandas-profiling[html,notebook])
  Downloading phik-0.12.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.6 kB)
Collecting tangled-up-in-unicode==0.2.0 (from pandas-profiling[html,notebook])
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: requests>=2.24.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (2.32.3)
Collecting tqdm>=4.48.2 (from pandas-profiling[html,notebook])
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: seaborn>=0.10.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (0.13.2)
Collecting multimethod>=1.4 (from pandas-profiling[html,notebook])
  Downloading multimethod-2.0-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: jupyter-client>=5.3.4 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (8.6.3)
Requirement already satisfied: jupyter-core>=4.6.3 in /home/codespace/.local/lib/python3.12/site-packages (from pandas-profiling[html,notebook]) (5.7.2)
Collecting ipywidgets>=7.5.1 (from pandas-profiling[html,notebook])
  Downloading ipywidgets-8.1.7-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: attrs>=19.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling[html,notebook]) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /home/codespace/.local/lib/python3.12/site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas-profiling[html,notebook]) (3.3)
Collecting imagehash (from visions[type_image_path]==0.7.4->pandas-profiling[html,notebook])
  Downloading ImageHash-4.3.2-py2.py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: Pillow in /home/codespace/.local/lib/python3.12/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling[html,notebook]) (11.1.0)
Requirement already satisfied: comm>=0.1.3 in /home/codespace/.local/lib/python3.12/site-packages (from ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (9.0.2)
Requirement already satisfied: traitlets>=4.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (5.14.3)
Collecting widgetsnbextension~=4.0.14 (from ipywidgets>=7.5.1->pandas-profiling[html,notebook])
  Downloading widgetsnbextension-4.0.14-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab_widgets~=3.0.15 (from ipywidgets>=7.5.1->pandas-profiling[html,notebook])
  Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-client>=5.3.4->pandas-profiling[html,notebook]) (2.9.0.post0)
Requirement already satisfied: pyzmq>=23.0 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-client>=5.3.4->pandas-profiling[html,notebook]) (26.3.0)
Requirement already satisfied: tornado>=6.2 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-client>=5.3.4->pandas-profiling[html,notebook]) (6.4.2)
Requirement already satisfied: platformdirs>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from jupyter-core>=4.6.3->pandas-profiling[html,notebook]) (4.3.6)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.2.0->pandas-profiling[html,notebook]) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.2.0->pandas-profiling[html,notebook]) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.2.0->pandas-profiling[html,notebook]) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.2.0->pandas-profiling[html,notebook]) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.2.0->pandas-profiling[html,notebook]) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib>=3.2.0->pandas-profiling[html,notebook]) (3.2.1)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling[html,notebook]) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling[html,notebook]) (2025.1)
Collecting annotated-types>=0.6.0 (from pydantic>=1.8.1->pandas-profiling[html,notebook])
  Downloading annotated_types-0.7.0-py3-none-any.whl.metadata (15 kB)
Collecting pydantic-core==2.33.2 (from pydantic>=1.8.1->pandas-profiling[html,notebook])
  Downloading pydantic_core-2.33.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.8 kB)
Requirement already satisfied: typing-extensions>=4.12.2 in /home/codespace/.local/lib/python3.12/site-packages (from pydantic>=1.8.1->pandas-profiling[html,notebook]) (4.12.2)
Collecting typing-inspection>=0.4.0 (from pydantic>=1.8.1->pandas-profiling[html,notebook])
  Downloading typing_inspection-0.4.1-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.24.0->pandas-profiling[html,notebook]) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.24.0->pandas-profiling[html,notebook]) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.24.0->pandas-profiling[html,notebook]) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests>=2.24.0->pandas-profiling[html,notebook]) (2025.1.31)
Requirement already satisfied: decorator in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (2.19.1)
Requirement already satisfied: stack_data in /home/codespace/.local/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.6.3)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->jupyter-client>=5.3.4->pandas-profiling[html,notebook]) (1.17.0)
Collecting PyWavelets (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling[html,notebook])
  Downloading pywavelets-1.8.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.0 kB)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/codespace/.local/lib/python3.12/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/codespace/.local/lib/python3.12/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.7.0)
Requirement already satisfied: wcwidth in /home/codespace/.local/lib/python3.12/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (3.0.0)
Requirement already satisfied: pure-eval in /home/codespace/.local/lib/python3.12/site-packages (from stack_data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[html,notebook]) (0.2.3)
Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 42.1 MB/s eta 0:00:00
Downloading visions-0.7.4-py3-none-any.whl (102 kB)
Downloading ipywidgets-8.1.7-py3-none-any.whl (139 kB)
Downloading joblib-1.1.1-py2.py3-none-any.whl (309 kB)
Downloading MarkupSafe-2.1.5-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (28 kB)
Downloading missingno-0.5.2-py3-none-any.whl (8.7 kB)
Downloading multimethod-2.0-py3-none-any.whl (9.8 kB)
Downloading phik-0.12.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (687 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 687.2/687.2 kB 31.1 MB/s eta 0:00:00
Downloading pydantic-2.11.5-py3-none-any.whl (444 kB)
Downloading pydantic_core-2.33.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 45.5 MB/s eta 0:00:00
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl (262 kB)
Downloading annotated_types-0.7.0-py3-none-any.whl (13 kB)
Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl (216 kB)
Downloading typing_inspection-0.4.1-py3-none-any.whl (14 kB)
Downloading widgetsnbextension-4.0.14-py3-none-any.whl (2.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 44.9 MB/s eta 0:00:00
Downloading ImageHash-4.3.2-py2.py3-none-any.whl (296 kB)
Downloading pywavelets-1.8.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 18.9 MB/s eta 0:00:00ta 0:00:01
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (pyproject.toml) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27161 sha256=9001e23f512c929df51124ce814917353ed522880d6b1de901a4a02535849550
  Stored in directory: /home/codespace/.cache/pip/wheels/5f/d4/d7/4189b07b5902ee9f3ce0dbb14909fbe8037c39d6c63ffd49c9
Successfully built htmlmin
Installing collected packages: htmlmin, widgetsnbextension, typing-inspection, tqdm, tangled-up-in-unicode, PyWavelets, pydantic-core, multimethod, markupsafe, jupyterlab_widgets, joblib, annotated-types, pydantic, imagehash, visions, phik, ipywidgets, missingno, pandas-profiling
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 3.0.2
    Uninstalling MarkupSafe-3.0.2:
      Successfully uninstalled MarkupSafe-3.0.2
  Attempting uninstall: joblib
    Found existing installation: joblib 1.4.2
    Uninstalling joblib-1.4.2:
      Successfully uninstalled joblib-1.4.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-learn 1.6.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.
Successfully installed PyWavelets-1.8.0 annotated-types-0.7.0 htmlmin-0.1.12 imagehash-4.3.2 ipywidgets-8.1.7 joblib-1.1.1 jupyterlab_widgets-3.0.15 markupsafe-2.1.5 missingno-0.5.2 multimethod-2.0 pandas-profiling-3.2.0 phik-0.12.4 pydantic-2.11.5 pydantic-core-2.33.2 tangled-up-in-unicode-0.2.0 tqdm-4.67.1 typing-inspection-0.4.1 visions-0.7.4 widgetsnbextension-4.0.14

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [32]:
!pip install ydata-profiling

Collecting ydata-profiling
  Downloading ydata_profiling-4.16.1-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: scipy<1.16,>=1.4.1 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (1.15.2)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (2.2.3)
Collecting matplotlib<=3.10,>=3.5 (from ydata-profiling)
  Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: pydantic>=2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (2.11.5)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (3.1.6)
Collecting visions<0.8.2,>=0.7.5 (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling)
  Downloading visions-0.8.1-py3-none-any.whl.metadata (11 kB)
Collecting numpy<2.2,>=1.16.0 (from ydata-profiling)
  Downloading numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from ydata-profiling) (4.67.1)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in /home/codespace/.local/lib/python3.12/site-packages (from ydata-profiling) (0.13.2)
Collecting multimethod<2,>=1.4 (from ydata-profiling)
  Downloading multimethod-1.12-py3-none-any.whl.metadata (9.6 kB)
Collecting statsmodels<1,>=0.13.2 (from ydata-profiling)
  Downloading statsmodels-0.14.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.2 kB)
Collecting typeguard<5,>=3 (from ydata-profiling)
  Downloading typeguard-4.4.2-py3-none-any.whl.metadata (3.8 kB)
Collecting imagehash==4.3.1 (from ydata-profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl.metadata (8.0 kB)
Collecting wordcloud>=1.9.3 (from ydata-profiling)
  Downloading wordcloud-1.9.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Collecting dacite>=1.8 (from ydata-profiling)
  Downloading dacite-1.9.2-py3-none-any.whl.metadata (17 kB)
Collecting numba<=0.61,>=0.56.0 (from ydata-profiling)
  Downloading numba-0.61.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (2.8 kB)
Requirement already satisfied: PyWavelets in /usr/local/python/3.12.1/lib/python3.12/site-packages (from imagehash==4.3.1->ydata-profiling) (1.8.0)
Requirement already satisfied: pillow in /home/codespace/.local/lib/python3.12/site-packages (from imagehash==4.3.1->ydata-profiling) (11.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/codespace/.local/lib/python3.12/site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Collecting llvmlite<0.45,>=0.44.0dev0 (from numba<=0.61,>=0.56.0->ydata-profiling)
  Downloading llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.0 kB)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2025.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in /home/codespace/.local/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pydantic>=2->ydata-profiling) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.12/site-packages (from requests<3,>=2.24.0->ydata-profiling) (2025.1.31)
Collecting patsy>=0.5.6 (from statsmodels<1,>=0.13.2->ydata-profiling)
  Downloading patsy-1.0.1-py2.py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: attrs>=19.3.0 in /home/codespace/.local/lib/python3.12/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in /home/codespace/.local/lib/python3.12/site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.3)
Collecting puremagic (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling)
  Downloading puremagic-1.29-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.17.0)
Downloading ydata_profiling-4.16.1-py2.py3-none-any.whl (400 kB)
Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
Downloading dacite-1.9.2-py3-none-any.whl (16 kB)
Downloading matplotlib-3.10.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 51.9 MB/s eta 0:00:00
Downloading multimethod-1.12-py3-none-any.whl (10 kB)
Downloading numba-0.61.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 53.7 MB/s eta 0:00:00
Downloading numpy-2.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 54.1 MB/s eta 0:00:00:00:01
Downloading statsmodels-0.14.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 48.1 MB/s eta 0:00:00:00:01
Downloading typeguard-4.4.2-py3-none-any.whl (35 kB)
Downloading visions-0.8.1-py3-none-any.whl (105 kB)
Downloading wordcloud-1.9.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (539 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 539.2/539.2 kB 25.7 MB/s eta 0:00:00
Downloading llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (42.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.4/42.4 MB 57.3 MB/s eta 0:00:00:00:01
Downloading patsy-1.0.1-py2.py3-none-any.whl (232 kB)
Downloading puremagic-1.29-py3-none-any.whl (43 kB)
Installing collected packages: puremagic, typeguard, numpy, multimethod, llvmlite, dacite, patsy, numba, visions, statsmodels, matplotlib, imagehash, wordcloud, ydata-profiling
  Attempting uninstall: numpy
    Found existing installation: numpy 2.2.4
    Uninstalling numpy-2.2.4:
      Successfully uninstalled numpy-2.2.4
  Attempting uninstall: multimethod
    Found existing installation: multimethod 2.0
    Uninstalling multimethod-2.0:
      Successfully uninstalled multimethod-2.0
  Attempting uninstall: visions
    Found existing installation: visions 0.7.4
    Uninstalling visions-0.7.4:
      Successfully uninstalled visions-0.7.4
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.10.1
    Uninstalling matplotlib-3.10.1:
      Successfully uninstalled matplotlib-3.10.1
  Attempting uninstall: imagehash
    Found existing installation: ImageHash 4.3.2
    Uninstalling ImageHash-4.3.2:
      Successfully uninstalled ImageHash-4.3.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
scikit-learn 1.6.1 requires joblib>=1.2.0, but you have joblib 1.1.1 which is incompatible.
pandas-profiling 3.2.0 requires visions[type_image_path]==0.7.4, but you have visions 0.8.1 which is incompatible.
Successfully installed dacite-1.9.2 imagehash-4.3.1 llvmlite-0.44.0 matplotlib-3.10.0 multimethod-1.12 numba-0.61.0 numpy-2.1.3 patsy-1.0.1 puremagic-1.29 statsmodels-0.14.4 typeguard-4.4.2 visions-0.8.1 wordcloud-1.9.4 ydata-profiling-4.16.1

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [40]:
# la estructura de filas y columnas 
df.shape

(620, 8)

In [42]:
df.columns

Index(['Fecha', 'Producto', 'Clave', 'Cantidad', 'Precio', 'Total', 'Sucursal',
       'Total_Ventas'],
      dtype='object')

In [43]:
df.index

RangeIndex(start=0, stop=620, step=1)

In [47]:
df["Sucursal"].head(5)

0            CU
1        Centro
2         Coapa
3      Cuemanco
4    Milpa Alta
Name: Sucursal, dtype: object

In [48]:
df[["Sucursal","Producto","Total"]]

       Sucursal    Producto      Total
0            CU   Pegamento   77172.12
1        Centro       Papel    5067.30
2         Coapa      Bolsas   99136.62
3      Cuemanco    Pinceles    3282.60
4    Milpa Alta  Cargadores  154209.90
..          ...         ...        ...
615    Narvarte  Cartulinas   18376.08
616     Polanco   Cuadernos   70498.26
617    Santa Fé      Bolsas    3886.65
618  Xochimilco   Cuadernos    7475.60
619      Zócalo   Pegamento  113165.91

[620 rows x 3 columns]

In [49]:
df[df["Sucursal"]=="Xochimilco"]

,Fecha,Producto,Clave,Cantidad,Precio,Total,Sucursal,Total_Ventas
8,2025-01-01,Pegamento,FEJ-643,11,1356.22,14918.42,Xochimilco,50246203.84
18,2025-01-01 00:00:00,Baterías,RKI-359,25,8800.09,220002.25,Xochimilco,6482220.87
28,2025-01-02,Uniformes,VPU-349,43,535.67,23033.81,Xochimilco,46994089.46
38,2025-01-02 00:00:00,Tablets,SLC-152,10,317.04,3170.40,Xochimilco,6532598.20
48,2025-01-03,Lápices,RQA-898,19,172.69,3281.11,Xochimilco,59330714.17
...,...,...,...,...,...,...,...,...
578,2025-01-29 00:00:00,Lápices,BEV-914,49,407.22,19953.78,Xochimilco,7207862.40
588,2025-01-30,Libretas,AEL-246,12,4386.59,52639.08,Xochimilco,47336474.06
598,2025-01-30 00:00:00,Cartulinas,MQU-212,4,1982.25,7929.00,Xochimilco,4633082.98
608,2025-01-31,Tijeras,RKZ-646,43,446.79,19211.97,Xochimilco,33993287.85
618,2025-01-31 00:00:00,Cuadernos,ZFD-627,40,186.89,7475.60,Xochimilco,6275314.85

In [50]:
#Hacer filtros con pandas
#Info xochimilco
Filtro = df["Sucursal"] == "Xochimilco"
df[Filtro]

,Fecha,Producto,Clave,Cantidad,Precio,Total,Sucursal,Total_Ventas
8,2025-01-01,Pegamento,FEJ-643,11,1356.22,14918.42,Xochimilco,50246203.84
18,2025-01-01 00:00:00,Baterías,RKI-359,25,8800.09,220002.25,Xochimilco,6482220.87
28,2025-01-02,Uniformes,VPU-349,43,535.67,23033.81,Xochimilco,46994089.46
38,2025-01-02 00:00:00,Tablets,SLC-152,10,317.04,3170.40,Xochimilco,6532598.20
48,2025-01-03,Lápices,RQA-898,19,172.69,3281.11,Xochimilco,59330714.17
...,...,...,...,...,...,...,...,...
578,2025-01-29 00:00:00,Lápices,BEV-914,49,407.22,19953.78,Xochimilco,7207862.40
588,2025-01-30,Libretas,AEL-246,12,4386.59,52639.08,Xochimilco,47336474.06
598,2025-01-30 00:00:00,Cartulinas,MQU-212,4,1982.25,7929.00,Xochimilco,4633082.98
608,2025-01-31,Tijeras,RKZ-646,43,446.79,19211.97,Xochimilco,33993287.85
618,2025-01-31 00:00:00,Cuadernos,ZFD-627,40,186.89,7475.60,Xochimilco,6275314.85

In [53]:
inicio = '2025-01-16'
fin = '2025-01-31'

df_quincena = df[(df['Fecha'] >= inicio) & (df['Fecha'] <= fin)]